<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="icon" href="{{ asset('img/BosquedronLogoMini.png') }}">
        <title>Bosquedron</title>

    {# Carga los componentes que se encuentran en el fichero "app", dentro de la carpeta "assets" #}
        {% block stylesheetsApp %} {{ encore_entry_link_tags('app') }} {% endblock %}
        {% block javascriptsApp %} {{ encore_entry_script_tags('app') }} {% endblock %}

    {# Bloque para futuros estilos que se incluyan en cada uno de los twigs #}
        {% block stylesheets %}{% endblock %}

    {# Estilos genrales para extensiones del twig base#}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    {# Estilos para el NavBar #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap" >
        
    {# Scripst para el Navbar #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        {% block header %}
            <header id="navbar"></header>
        {% endblock %}

        {% block body %} {% endblock %}

        {% block footer %}
        <footer>
            <div class="row row-cols-md-3">
                <div class="col footer-section contact-info">
                    <p><i class="fas fa-phone"></i> 654 635 126</p>
                    <p><i class="fas fa-envelope"></i> <a href="mailto:bosquedron@gmail.com">bosquedron@gmail.com</a></p>
                    <p><i class="fas fa-map-marker-alt"></i> 11631 Park Boulevard Marshalltown, Francia</p>
                </div>

                <div class="col footer-section">
                    <p>&copy;{{ "now"|date("Y") }} Bosquedron. Le Pestel Laval-d'Aix, Francia</p>
                </div>

                <div class="col footer-section social-icons">
                    <a href="https://www.facebook.com/groups/2424662997843773/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/_naturaleza_"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/__naturaleza__/"><i class="fab fa-instagram"></i></a>
                    <a href="https://open.spotify.com/playlist/2pRMzmiDiXhGRTDlqrvdjr?si=d2666c578f0c472a"><i class="fab fa-spotify"></i></a>
                </div>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
